### Aggregate and clean airport weather csv data from https://mesonet.agron.iastate.edu/

In [2]:
import pandas as pd
import glob
import numpy as np

In [59]:
# load data from The U.S. Department of Transportation's
mypath="./data/*_2017_weather.csv"
csvFileList= (glob.glob(mypath))

count=0
for f in csvFileList:
    if (count==0):
        weather=pd.read_csv(f, skiprows=[0], names=['Station', 'Record_time', 'Temp_F', 'WindSpeed', 'Precip', 'Gust_MP'], na_values='M', parse_dates=['Record_time'])
        #weather=weather.replace('M', np.nan)
    else:
        tmp=pd.read_csv(f, skiprows=[0], names=['Station', 'Record_time', 'Temp_F', 'WindSpeed', 'Precip', 'Gust_MP'], na_values='M', parse_dates=['Record_time'])
        #tmp=tmp.replace('M', np.nan)
        weather=weather.append(tmp, ignore_index=True, sort=False)
    count+=1

    if count%50==0:
        print(count)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322

In [61]:
weather['Station'].size

29879779

### Save df to pickle

In [3]:
weather.to_pickle('./data/airport_weather.pkl')

NameError: name 'weather' is not defined

In [65]:
weather.Station.unique().size

285

### Some data exploration

In [4]:
weather=pd.read_pickle('./data/airport_weather.pkl')

In [54]:
weather.sample(15)

         Station         Record_time  Temp_F  WindSpeed  Precip  Gust_MP
19334233     BUR 2017-05-22 10:10:00     NaN        0.0     NaN      NaN
11580266     CHS 2017-08-08 00:50:00     NaN       12.7     NaN      NaN
16648919     SPS 2017-06-07 07:40:00     NaN       10.4     NaN      NaN
25778807     IAD 2017-05-08 02:52:00    53.1       12.7    0.00      NaN
1100763      RIC 2017-05-17 03:25:00     NaN        0.0     NaN      NaN
165121       GSP 2017-06-16 18:10:00     NaN        4.6     NaN      NaN
12717190     SAV 2017-01-03 21:45:00     NaN       10.4     NaN      NaN
10569236     GJT 2017-06-15 16:20:00     NaN        9.2     NaN      NaN
2798479      BPT 2017-09-30 19:40:00     NaN        6.9     NaN      NaN
13856775     HDN 2017-09-12 12:10:00     NaN        9.2     NaN      NaN
6537197      CNY 2017-12-13 05:05:00     NaN        4.6     NaN      NaN
1543022      TWF 2017-03-22 23:45:00     NaN        9.2    0.01      NaN
2952344      ONT 2017-02-07 10:45:00     NaN        4.6    0.01      NaN
17431975     CEC 2017-07-12 18:10:00     NaN        9.2     NaN      NaN
12105837     CMX 2017-04-17 20:30:00     NaN        5.8     NaN      NaN

In [58]:
# check how much data is available for one airport
weather.loc[(weather['Station']=='IAD')].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111695 entries, 25740413 to 25852107
Data columns (total 6 columns):
Station        111695 non-null object
Record_time    111695 non-null datetime64[ns]
Temp_F         10041 non-null float64
WindSpeed      105392 non-null float64
Precip         14425 non-null float64
Gust_MP        0 non-null float64
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 6.0+ MB

In [59]:
weather.loc[((weather['Station']=='IAD') & (weather['Temp_F'].isna()))].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 101654 entries, 25740413 to 25852107
Data columns (total 6 columns):
Station        101654 non-null object
Record_time    101654 non-null datetime64[ns]
Temp_F         0 non-null float64
WindSpeed      95364 non-null float64
Precip         4384 non-null float64
Gust_MP        0 non-null float64
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 5.4+ MB

In [64]:
weather.loc[((weather['Station']=='IAD'))].sample(15)

         Station         Record_time  Temp_F  WindSpeed  Precip  Gust_MP
25780009     IAD 2017-05-11 22:52:00    51.1       10.4    0.02      NaN
25755284     IAD 2017-02-17 11:25:00     NaN        0.0     NaN      NaN
25842380     IAD 2017-11-29 21:25:00     NaN        8.1     NaN      NaN
25753525     IAD 2017-02-11 16:00:00     NaN        6.9     NaN      NaN
25797241     IAD 2017-07-08 12:52:00    75.9        6.9    0.00      NaN
25840765     IAD 2017-11-24 16:52:00    50.0        9.2    0.00      NaN
25834705     IAD 2017-11-05 07:55:00     NaN        3.5     NaN      NaN
25821850     IAD 2017-09-24 18:52:00    88.0        8.1    0.00      NaN
25818140     IAD 2017-09-12 22:52:00    73.0        5.8    0.00      NaN
25813890     IAD 2017-08-30 10:52:00    59.0        4.6    0.00      NaN
25819179     IAD 2017-09-16 05:50:00     NaN        0.0     NaN      NaN
25826496     IAD 2017-10-10 05:00:00     NaN        0.0     NaN      NaN
25780971     IAD 2017-05-15 19:05:00     NaN        NaN     NaN      NaN
25756146     IAD 2017-02-20 05:52:00    50.0        3.5    0.00      NaN
25824258     IAD 2017-10-02 21:00:00     NaN        0.0     NaN      NaN