### Load data

In [1]:
import pandas as pd

In [4]:
# load data from The U.S. Department of Transportation's
flights= pd.read_csv('./data/flights.csv')

/Users/pyt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
flights.columns

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER',
       'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT',
       'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'WHEELS_ON', 'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME',
       'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON',
       'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY',
       'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY'],
      dtype='object')

In [7]:
airports=pd.read_csv('./data/airports.csv')

In [50]:
airports.size

2254

In [8]:
airlines=pd.read_csv('./data/airlines.csv')

In [21]:
print('Total flight rows are: '+str(flights.size))

Total flight rows are: 180391449

In [22]:
flights.dropna(subset=['DEPARTURE_DELAY'], inplace=True)

In [24]:
print('Total flights with departure data are: '+str(flights.size))

Total flights with departure data are: 177720706

### Save to pickle for easy loading in future

In [46]:
flights.to_pickle('./data/flights.pkl')

In [47]:
airports.to_pickle('./data/airpots.pkl')

In [48]:
airlines.to_pickle('./data/airlines.pkl')

### Explore flights data

In [36]:
flights[['DEPARTURE_DELAY', 'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY',
       'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY']].head()

,DEPARTURE_DELAY,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,-11.0,NaN,NaN,NaN,NaN,NaN
1,-8.0,NaN,NaN,NaN,NaN,NaN
2,-2.0,NaN,NaN,NaN,NaN,NaN
3,-5.0,NaN,NaN,NaN,NaN,NaN
4,-1.0,NaN,NaN,NaN,NaN,NaN

In [44]:
flights[(flights['WEATHER_DELAY']==1)].iloc[1:5, 15:35]

,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
2891,138.0,119.0,985,1306.0,4.0,1255,1310.0,15.0,0,0,NaN,0.0,0.0,0.0,14.0,1.0
3988,59.0,39.0,247,1209.0,10.0,1155,1219.0,24.0,0,0,NaN,0.0,0.0,0.0,23.0,1.0
7284,160.0,130.0,835,1746.0,10.0,1730,1756.0,26.0,0,0,NaN,20.0,0.0,0.0,5.0,1.0
9999,76.0,49.0,312,1837.0,5.0,1813,1842.0,29.0,0,0,NaN,8.0,0.0,0.0,20.0,1.0