### Get airport volume data from https://www.transtats.bts.gov

In [10]:
import pandas as pd
# if needed: pip install requests or conda install requests
import requests
# if needed: pip install beautifulsoup4 lxml or conda install beautifulsoup4 lxml
from bs4 import BeautifulSoup
import re

requests.__path__

['/Users/pyt/anaconda3/lib/python3.7/site-packages/requests']

In [4]:
airports=pd.read_csv('./data/airports.csv')

In [128]:
airports['IATA_CODE'].size

322

In [83]:
count=0
df = pd.DataFrame(columns=['IATA_CODE', 'PASS_DEPART', 'FLIGHT_DEPART'])

for airport_code in airports['IATA_CODE']:
    if (count%50==0):
        print(count)
    count+=1
    url = 'https://www.transtats.bts.gov/airports.asp?pn=1&Airport='+airport_code+'&End_YearMonth=24192'

    response = requests.get(url)
    
    if (response.status_code==200):
        page=response.text
        soup = BeautifulSoup(page, "html.parser")
        pass_depart = soup.find(text='Departure').parent.next_sibling.next_sibling.text
        flight_depart = soup.find(text='Departures').parent.next_sibling.next_sibling.text
        df = df.append({'IATA_CODE': airport_code, 'PASS_DEPART': pass_depart, 'FLIGHT_DEPART': flight_depart}, ignore_index=True)

0
50
100
150
200
250
300

In [127]:
df['IATA_CODE'].size

322

### Save data to csv file

In [86]:
df.to_csv('./data/airport_volume.csv')

In [87]:
df.head()

  IATA_CODE PASS_DEPART FLIGHT_DEPART
0       ABE        318k         6,230
1       ABI         84k         3,041
2       ABQ      2,320k        29,424
3       ABR         27k         1,007
4       ABY         34k         1,479

In [94]:
df[(df['IATA_CODE']=='SFO')]

    IATA_CODE PASS_DEPART FLIGHT_DEPART
278       SFO     18,784k       168,548

### Data check: number of airports in US from bts.gov

In [100]:
url = 'https://www.transtats.bts.gov/NewAirportList.asp?xpage=airports.asp&flag=FACTS'

response = requests.get(url)

if (response.status_code==200):
    page=response.text
    soup = BeautifulSoup(page, "html.parser")
    airport_list = len(list(soup.find_all('a')))
    print(airport_list)

792